Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
SQLAlchemy==2.0.45
WTForms==3.2.2
Werkzeug==3.1.5
pillow==12.2.0
psycopg2-binary
PyMuPDF
python-docx
olefile
gunicorn
whitenoise
requests
python-dotenv
